<app-loading-spinner [loading]="isLoading"></app-loading-spinner>

@if(errorMessage) {
<app-error-display [message]="errorMessage"></app-error-display>
}

<div class="actions-and-table-wrapper">
  <div class="position-managment">
    <h2>Position Management <mat-icon>work</mat-icon></h2>
  </div>

  <button class="add-btn" mat-flat-button color="primary" (click)="onAddPosition()">
    <mat-icon>add</mat-icon>
    Add Position
  </button>

  @if (dataSource.data.length === 0 && !isLoading && !errorMessage) {
    <app-empty-state 
      message="No positions found" 
      icon="work_off"
      description="Start by adding your first position using the button above.">
    </app-empty-state>
  } @else {
    <app-data-table
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns"
      [length]="paginationResult?.totalCount || 0"
      [pageSize]="paginationResult?.pageSize || 10"
      [pageIndex]="(paginationResult?.page || 1) - 1"
      [paginatorLabel]="'Positions'"
      (pageChange)="onPageChange($event)"
      (edit)="onEditPosition($event)"
      (delete)="onDeletePosition($event)"
      (view)="onViewPosition($event)"
      (viewEmployees)="onViewEmployees($event)"
    >
    </app-data-table>
  }
</div>

